@keyframes blob {
  0%, 100% {
    transform: translate(0, 0) scale(1);
  }
  33% {
    transform: translate(30px, -50px) scale(1.1);
  }
  66% {
    transform: translate(-20px, 20px) scale(0.9);
  }
}

@keyframes float {
  0% {
    transform: translate(0, 0) rotate(0deg);
  }
  20% {
    transform: translate(12px, -15px) rotate(3deg);
  }
  40% {
    transform: translate(-10px, -20px) rotate(-2deg);
  }
  60% {
    transform: translate(8px, -12px) rotate(2deg);
  }
  80% {
    transform: translate(-8px, -18px) rotate(-3deg);
  }
  100% {
    transform: translate(0, 0) rotate(0deg);
  }
}

.container {
  position: fixed;
  inset: 0;
  z-index: 0;
  overflow: hidden;
  background-color: rgb(24 24 27);
}

.blob {
  position: absolute;
  border-radius: 9999px;
  filter: blur(64px);
  animation: blob 7s ease-in-out infinite;
}

.blob1 {
  left: -10%;
  top: -10%;
  width: 800px;
  height: 800px;
  background: linear-gradient(to bottom right, rgb(124 58 237 / 0.2), rgb(192 38 211 / 0.2), rgb(225 29 72 / 0.2));
}

.blob2 {
  right: -10%;
  bottom: -10%;
  width: 800px;
  height: 800px;
  background: linear-gradient(to bottom right, rgb(8 145 178 / 0.2), rgb(37 99 235 / 0.2), rgb(99 102 241 / 0.2));
}

.blob3Wrapper {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 600px;
  height: 600px;
}

.blob3 {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 9999px;
  filter: blur(64px);
  animation: blob 7s ease-in-out infinite;
  background: linear-gradient(to bottom right, rgb(231 229 228 / 0.2), rgb(229 229 229 / 0.2), rgb(244 244 245 / 0.2));
}

.animationDelay2000 {
  animation-delay: 2s;
}

.animationDelay4000 {
  animation-delay: 4s;
}

.icon {
  position: absolute;
  opacity: 0.3;
  filter: brightness(0) invert(1);
  animation: float ease-in-out infinite;
}

